*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
src/main/aidl/
app/.idea/.name
app/gradle/
app/gradlew
app/gradlew.bat
app/local.properties
app/src/main/aidl/
